@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@400;700&display=swap');

* {
    font-family: 'Nunito';
}

body {
    padding: 0px;
    margin: 0px;
}

header {
    display: flex;
    justify-content: center;
    width: 100%;
    height: 120px;
}

.menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    max-width: 1440px;
    padding: 0px 20px;
}

.area_menu {
    display: flex;
    width: 100%;
    max-width: 480px;
}

nav ul {
    display: flex;
    align-items: center;
    width: 480px;
    justify-content: space-between;
    padding: 0px;
}

nav ul li {
    list-style: none;
}

nav ul li a {
    text-decoration: none;
    color: #155018;
    font-weight: bold;
    font-size: 26px;
}

.area_slide {
    display: flex !important;
    display: -webkit-flex;
    width: 100% !important;
    max-width: 1440px;
}

.owl-item {
    display: flex;
    display: -webkit-flex;
    justify-content: center;

}

.frete {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 60px;
    width: 100%;
    box-shadow: 0px 4px 22px rgba(0, 0, 0, 0.25);
}

.frete_int {
    display: flex;
    justify-content: center;
    width: 100%;
}

.title_frete h2 {
    color: #155018;
    font-size: 28px;
    margin: 0px;
    font-weight: 400;
}

.container_2 {
    display: flex;
    justify-content: center;
    width: 100%;
    padding: 100px 0px;
    position: relative;
    z-index: 1;
}

.container_2_int {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    max-width: 1280px;
}

.area_container_2 {
    display: flex;
    justify-content: center;
    width: 100%;
    gap: 40px;
}

.img_container_2 {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 40px;
}

.img_container_2 img {
    width: 100%;
    max-width: 540px;
}

.btn_2 {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 380px;
    height: 55px;
    background-color: #8DC540;
    border-radius: 30px;
    cursor: pointer;
}

.btn_2 h2 {
    font-size: 20px;
    color: #fff;
    text-transform: uppercase;
    margin: 0px;
}

.area_texts_2 {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 580px;
    gap: 30px;
}

.title_2 h2 {
    color: #155018;
    font-weight: bold;
    font-size: 52px;
    margin: 0px;
    line-height: 52px;
}

.sub_title_2 p {
    color: #454545;
    font-size: 22px;
    margin: 0px;
}

.title_armadilha h2 {
    font-size: 34px;
    color: #393939;
    margin: 0px;
}

.area_info_texts {
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 10px;
}

.info_texts {
    display: flex;
    align-items: center;
    gap: 6px;
    max-width: 500px;
}

.info_texts p {
    font-size: 20px;
    color: #454545;
    margin: 0px;
}

.number_info {
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 5px 9px 20px rgba(111, 111, 111, 0.25);
    border-radius: 100px;
    width: 50px;
    height: 50px;
}

.number_info h2 {
    font-size: 42px;
    color: #9BC860;
    text-shadow: 0px 2px 4px rgba(77, 98, 74, 0.35);
    margin: 0px;
}



#kit_armadilhas {
    width: 100%;
    height: 1000px;
    background-image: url(../img/bg_slide.svg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    margin-top: -430px;
    z-index: 0;
    position: relative;
}

.container_kit {
    display: flex;
    justify-content: center;
    height: 100%;
}

.slide-2 {
    display: flex;
    max-width: 1280px;
    justify-content: space-between;
    align-items: flex-end;
    height: 100%;
}

.owl-dots {
    width: 100%;
    position: absolute;

}

.owl-theme .owl-dots .owl-dot.active span,
.owl-theme .owl-dots .owl-dot:hover span {
    background-color: #155018 !important;
}

.owl-theme .owl-dots .owl-dot span {
    width: 15px !important;
    height: 15px !important;
    background: #8DC540 !important;

}

.area_img_kit img {
    width: 100%;
    max-width: max-content;
}

.area_kit {
    display: flex;
    align-items: center;
    height: 100%;
    width: 100%;
}

.area_texts_kit {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    max-width: 620px;
    gap: 26px;
    text-align: center;
}

.title_kit h2 {
    font-size: 42px;
    color: #393939;
    margin: 0px;
    line-height: 40px;
    margin-bottom: 10px;
}

.price_kit h2 {
    color: #8DC540;
    font-size: 36px;
    text-transform: uppercase;
    margin: 0px;
    font-weight: 400;
}

.price_kit h2 s {
    color: #787878;
}

.installment h2 {
    color: #80807F;
    font-size: 26px;
    margin: 0px;
    font-weight: 400;
}

.installment h2 b {
    color: #393939;
}

.shipping h2 {
    font-size: 26px;
    color: #80807F;
    font-weight: 400;
    margin: 0px;
}

.shipping h2 b {
    color: #155018;
}

.btn_purchase {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 180px;
    height: 46px;
    background: #8DC540;
    border-radius: 20px;
}

.btn_purchase h2 {
    text-transform: uppercase;
    font-size: 26px;
    color: #fff;
    margin: 0px;
}

.container_cards {
    display: flex;
    justify-content: center;
    width: 100%;
    padding: 60px 0px;
}

.container_cards_int {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    max-width: 1280px;

}

.area_cards_int {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.cards_kit {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    width: 100%;
    max-width: 360px;
    height: 460px;
    border: 1px solid #E0FFB5;
    box-shadow: 23px 21px 56px rgba(0, 0, 0, 0.1);
    border-radius: 60px 0px 60px;
    padding: 0px 0px 20px 0px;
    transform: scale3d(1, 1, 1);
    transition: all ease-in-out 300ms;
}

.cards_kit:hover {
    transform: scale3d(1.1, 1.1, 1.1);
}

.card_1 {
    margin-left: 48px;
}

.cards_kit img {
    width: 100%;
    max-width: max-content;
    object-fit: contain;
}

.title_card_kit h2 {
    font-weight: 400;
    color: #155018;
    font-size: 36px;
    line-height: 34px;
    margin: 0px 0px 10px 0px;
}

.price_cards_kit p {
    color: #787878;
    font-size: 10px;
    margin: 0px;
    font-weight: bold;
}

.price_cars_kit_final h2 {
    color: #8DC540;
    font-size: 30px;
    margin: 0px;
    font-weight: bold;
}

.btn_purchase_kit {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 180px;
    height: 46px;
    background: #8DC540;
    border-radius: 20px;
    margin-top: 10px;
}

.btn_purchase_kit h2 {
    text-transform: uppercase;
    font-size: 26px;
    color: #fff;
    margin: 0px;
}

.container_payments {
    display: flex;
    justify-content: center;
    width: 100%;
    height: 150px;
}

.container_payments_int {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    box-shadow: inset 20px 17px 32px rgba(0, 0, 0, 0.1);
}

.area_payments {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 15px;
}

.area_payments img {
    width: 100%;
    max-width: max-content;
}